<div>
    
        <img src="{{imagenFront}}" [@shinyAnimationFront]="stateFront" (click)="cambiarFront()">
        <img id="Back" src="{{imagenBack}}" [@shinyAnimationBack]="stateBack" (click)="cambiarBack()">

    
    <table>
        <thead>
            <th>Número Pokedex</th>
            <th>Nombre</th>
        </thead>
        <tbody>
            <tr>
                <td>{{pokemonDetalle.id}}</td>
                <td> {{ pokemonDetalle.name }} </td>
            </tr>
        </tbody>
    </table>
    
</div>
